
<div class="content">
  <h2>Upcoming Events</h2>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchEventName" placeholder="Search by Event Name">
    <input type="text" [(ngModel)]="searchLocation" placeholder="Search by Location">
    <select [(ngModel)]="searchEventCategory" class="form-control">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
    <button (click)="searchEvents()">Search</button>
  </div>
  <div *ngIf="filteredEvents.length > 0; else noEvents">
    <div class="event-item" *ngFor="let event of filteredEvents">
      <div class="event-card">
        <div class="event-image">
          <img [src]="event.image" alt="Event Image">
        </div>
        <div class="event-details">
          <h3>{{ event.title }}</h3>
          <p>{{ event.description }}</p>
          <p>Date: {{ event.start_date | date }}</p>
          <p>Time: {{ event.start_time }} - {{ event.end_time }}</p>
          <button (click)="goToEventDetails(event._id)">View Details</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noEvents>
    <p>No events found.</p>
  </ng-template>
</div>
