
    <div class="user-profile">
        <div class="top-bar">
            <a href="/" class="back-button">&#8592;</a>
            <h2>User Profile</h2>
        </div>

        <div class="user-info">
            <h3>{{ user?.username }}</h3>
            <p>Email: {{ user?.email }}</p>
        </div>

        <div class="toggle-switch">
            <!-- Clickable labels to toggle between upcoming and past bookings with highlighting -->
            <span class="toggle-label" (click)="onToggleUpcoming()" [class.active]="!showPastEvents">Upcoming Bookings</span>
            <span class="toggle-label" (click)="onTogglePast()" [class.active]="showPastEvents">Past Bookings</span>
          </div>

        <div class="booking-cards">
            <div *ngFor="let booking of showPastEvents ? pastBookings : upcomingBookings" class="booking-card">
                <div class="card-image" [style.background-image]="booking.event.image"></div>
                <div class="card-content">
                    <h2 class="title">{{ booking.event.title }}</h2>
                    <p class="sub-title">{{ booking.event.venue }} - {{ booking.event.state }}</p>
                    <p class="price">
                        <mat-icon>schedule</mat-icon> 
                        {{ formatDate(booking.event.start_date) }} - {{ formatDate(booking.event.end_date) }} <br>
                        {{ booking.event.start_time }} - {{ booking.event.end_time }} 
                      </p>
                      <button *ngIf="!showPastEvents && isCancelable(booking)" class="cancel-button" (click)="confirmCancellation(booking)">Cancel Booking</button>
                </div>
            </div>
            <ng-container *ngIf="showPastEvents ? pastBookings.length === 0 : upcomingBookings.length === 0;">
                <p>No {{ showPastEvents ? 'past' : 'upcoming' }} bookings.</p>
              </ng-container>
        </div>

        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>
    </div>

