<div class="user-profile">
  <div class="top-bar">
    <a href="/" class="back-button">&#8592;</a>
    <h2>User Profile</h2>
  </div>
  
  

  <div class="user-info">
    <h3>{{ user?.username }}</h3>
    <p>Email: {{ user?.email }}</p>
  </div>

  <div class="toggle-switch">
    <span class="toggle-label">Past Bookings</span>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="showPastEvents">
      <span class="slider"></span>
    </label>
    <span class="toggle-label">Upcoming Bookings</span>
  </div>
  
  

  <h4>{{ showPastEvents ? 'Past Bookings' : 'Upcoming Bookings' }}</h4>
  <div *ngIf="showPastEvents ? pastBookings.length > 0 : upcomingBookings.length > 0; else noBookings">
    <ul>
      <li *ngFor="let booking of showPastEvents ? pastBookings : upcomingBookings">
        <div class="booking-item">
          <div class="booking-details">
            <h5>{{ booking.event.title }}</h5>
            <p>Date: {{ booking.event.start_date }}</p>
            <p>Time: {{ booking.event.start_time }} - {{ booking.event.end_time }}</p>
            <p>Venue: {{ booking.event.venue }}</p>
            <p>City: {{ booking.event.city }}</p>
            <p>State: {{ booking.event.state }}</p>
            <p>Country: {{ booking.event.country }}</p>
            <p>Ticket Quantity: {{ booking.booking.quantity }}</p>
          </div>
          <div *ngIf="!showPastEvents" class="booking-actions">
            <button (click)="cancelBooking(booking._id)">Cancel</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noBookings>
    <p>No {{ showPastEvents ? 'past' : 'upcoming' }} bookings.</p>
  </ng-template>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
