      body {
      font-family: 'Nunito', sans-serif;
    margin:0;
   padding-left:30px;
   height:100%;
  background-image: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container {
	max-width:300px;
	width:100%;
	left:10px;
	position:relative;
  padding: 10px 20px;
  border-radius: 8px;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
input {
    width: 250px;
    padding: 0px 10px;
    background:rgba(255,255,255,0.3);
}
input,
input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 2;
}
input.c {
font-size: 18px;
color:#0A3D5B;
  text-align: center;
  font-style: normal;
margin: 11px 19px;
max-width:100px;
    background-image: linear-gradient(0, #0A3D5B, #0A3D5B);
    background-size: 0;
    transition: .5s;
    background-repeat: no-repeat;
    padding: 7px 10px;
}

input.c:hover {
    background-size: 100%;
    color: #fff;
}
h1{
color: #0A3D5B;
}