<div class="container">
  <h1>Add a Book</h1>
  <form (submit)="submitForm($event)" class="tt" id="myForm">
    <fieldset><input type="text" id="title" name="title" required placeholder="Book Title"><br><br></fieldset>
    <fieldset><input type="text" id="author" name="author" required placeholder="Book Author"><br><br></fieldset>
    <fieldset><input type="text" id="id" name="collegeId" required placeholder="College Id"><br><br></fieldset>
    <fieldset><input type="text" id="course" name="course" required placeholder="Course Name"><br><br></fieldset>
    <fieldset><input type="number" id="year" name="year" required placeholder="Course Year"><br><br></fieldset>
    <fieldset><input type="number" id="number" name="number" required placeholder="Your Contact No"><br><br></fieldset>
    <input type="submit" value="Submit" class="c">
  </form>
</div>
