.container {
  border-radius: 9px;
  max-height: 70vh;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  overflow: hidden;
  height: 100%;
  background-color: #f8f9fa;
  display: flex; /* Add display: flex to make box-2 have the same height as box-1 */
}

.total-price {
  font-size: 18px;
}

.box-1 {
  flex: 1;
  max-width: 450px;
  padding: 20px 40px;
  user-select: none;
  position: relative;
  overflow-y: auto;
}

.box-1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.box-1 .form-group {
  margin-bottom: 20px;
}

.box-1 label {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.box-1 .StripeElement,
.box-1 .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 100%;
}

.box-1 .btn {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box-1 .btn-primary {
  background-color: #7700ff;
  color: #fff;
}

.box-1 .btn-primary:hover {
  background-color: #7a34ca;
}

.booking-confirmation {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #7a34ca;
}

.box-1 .form-group.stripe-form-group {
  display: flex;
  align-items: center;
}

.box-1 .form-group.stripe-form-group .btn {
  margin-left: 10px;
}

.box-1 .btn-book-now {
  margin-top: 10px;
  padding: 9px 20px; /* Adjust padding to make the button larger */
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #7a34ca;
  color: #fff;
  transition: background-color 0.3s ease; /* Add a smooth transition on hover */
}

.box-1 .btn-book-now:hover {
  background-color: #5f24b5; /* Change the background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
  color: #fff; /* Change the text color on hover */
}

.box-2 {
  flex: 1;
  max-width: 450px;
  height: 100%;
  padding: 20px 40px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.box-2 p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 4px; /* Add some padding below the title */
  border-bottom: 1px solid #000; /* Add a border below the title */
}

.box-2 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* .box-inner-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  margin-top: 20px;
  bottom: 0;
  
} */

.box-1 .card-details {
  display: flex;
  flex-wrap: wrap;
}

.box-1 .card-details .form-group {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 33.33%;
}

.box-1 .card-details .form-group:last-child {
  margin-right: 0;
}

.box-1 .card-details .form-group label {
  display: block;
}

.box-1 .card-details .form-group .StripeElement {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 100%;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .container {
    max-width: 700px;
    margin: 10px auto;
  }

  .box-1,
  .box-2 {
    max-width: 600px;
    padding: 20px 20px; /* Adjust padding */
    margin: 20px auto;
  }

  .box-1 .card-details .form-group {
    flex: 1 0 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 426px) {
  .box-1,
  .box-2 {
    max-width: 400px;
    padding: 20px 10px;
  }

  ::placeholder {
    font-size: 9px;
  }
}

@media (min-width: 992px) {
  .box-1 {
    width: 50%;
    float: left;
  }

  .box-2 {
    width: 50%;
    float: right;
  }
}
