<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" (ngSubmit)="register()">
        <span class="login100-form-title p-b-26">
          Register
        </span>
        <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

        <div class="wrap-input100 validate-input" data-validate="Valid username is required">
          <input class="input100" type="text" name="username" [(ngModel)]="username" required>
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid password is required">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input class="input100" type="password" name="password" [(ngModel)]="password" required>
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required">
          <input class="input100" type="email" name="email" [(ngModel)]="email" required>
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Register
            </button>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1">
            Already have an account?
          </span>

          <a class="txt2" routerLink="/login">
            Log in
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
