<div class="event-details">
  <h2>{{ event?.title }}</h2>
  <div class="event-image">
    <!-- Use the safe URL for the image source -->
    <img [src]="event.image" alt="Event Image" height="200">
  </div>
  <p class="description">{{ event?.description }}</p>
  <div class="event-info">
    <p>Venue: {{ event?.venue }}</p>
    <p>Location: {{ event?.city }}, {{ event?.state }}, {{ event?.country }}</p>
    <p>Date: {{ event?.start_date | date }} - {{ event?.end_date | date }}</p>
    <p>Time: {{ event?.start_time }} - {{ event?.end_time }}</p>
    <p>Ticket Price: ${{ event?.ticket_price }}</p>
    <p>Ticket Quantity: {{ event?.ticket_quantity }}</p>
  </div>

  <ng-container *ngIf="user; else loginLink">
    <!-- Display the book now button only if the user is logged in -->
    <button mat-raised-button color="primary" *ngIf="!showBookingForm" (click)="showBookingForm = true">Book Now</button>
  </ng-container>
  
  <!-- If the user is not logged in, show a link to the login page -->
  <ng-template #loginLink>
    <p class="login-message">You need to be logged in to book this event. Please <a routerLink="/login">Login</a> or <a routerLink="/signup">Sign Up</a></p>
  </ng-template>
  
  <!-- Booking Form -->
  <app-booking-form *ngIf="showBookingForm" [event]="event" [user]="user" (closeForm)="showBookingForm = false"></app-booking-form>
  </div>
