<section>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" style="color: aliceblue;">Bits Book Directory</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <a routerLink="/add-book" class="nav-item active nav-link">Add a Book</a>
        </ul>
      </div>
      <div class="ml-auto order-0">
        <ul class="navbar-nav ml-auto">
          <a href="https://github.com/Veejee165" class="nav-item active nav-link" style="font-size:18px">About Us</a>
        </ul>
      </div>
    </nav>
  </section>
  
  <section class="search-sec">
    <div class="container">
      <div>
        <h1 style="color: white;">Search For Books</h1>
      </div>
      <form (ngSubmit)="searchBooks()">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <input type="number" class="form-control search-slt" id="yr" placeholder="Enter Academic Year" name="yr" [(ngModel)]="academicYear">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <input type="text" class="form-control search-slt" id="tit" placeholder="Enter Book Title" name="tit" [(ngModel)]="bookTitle">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <button type="submit" class="btn btn-danger wrn-btn">Search</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  